<div class='container'>
  <h1>Places map</h1>
  <hr />
  <figure id='myMap'></figure>

  <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
  <script src='../../js/places-map-setup.js'></script>
  <script
    src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA-cnGCCvToNouJqnR11-6Cy9S6jRiBDeY&callback=initMap'
  ></script>

</div>